/* General Styles */
html, body {
  font-family: 'Times New Roman', serif;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-weight: medium;
  font-size: 15px;
  color: #000;
  line-height: 1.2;
}

::selection {
  color: #fff;
  background: #506de1;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fadeinup {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation: fadeInAndUpAnimation ease 1.2s;
}

@keyframes fadeInAndUpAnimation {
  0% {
      opacity: 0;
  }
  40% {
      transform: translateY(200px);
      opacity: 0;
  }
  100% {
      margin-top: 0px;
      opacity: 1;
  }
}

.profile {
  width: 18vw;
  height: auto;
  display: inline;
  min-width: 180px;
  float: left;
  margin-right: 40px;
  margin-bottom: 1.4vw;
  margin-top: 25px;
  filter: grayscale(95%);
  border-radius: 4px;
}

/* Responsive Adjustments */
@media screen and (max-width: 550px) {
  .profile {
      display: block;
      margin-right: 500px;
      margin-bottom: 30px;
      margin-left: auto;
  }
}

@media screen and (max-width: 1120px) {
  .main {
      padding-right: 16vw;
      padding-left: 16vw;
      transition: 0.5s;
  }
}

/* Main Content */
.main {
  padding-right: 24vw;
  padding-left: 24vw;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.main a {
  color: #4f4395;
  border-bottom: 0.1px #a5a5a5 dotted;
  transition: 0.3s;
}

.main a:hover {
  color: #a546b5;
  transition: 0.3s;
}

.about {
  text-align: left;
}

.title {
  font-size: 17px;
}

.news b {
  font-size: 14px;
}

.news {
  display: flex;
  flex-direction: column;
}

.news-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.news-date {
  color: #4f4395;
  padding-top: 1px;
  width: 70px;
  font-weight: bold;
  font-size: 12px;
}

.news-description {
  flex: 1;
}

.bullet {
  font-size: 9px;
  padding-top: 7px;
  padding-right: 3px;
  color: #4f4395;
}
